{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
    <article class="post-list">
        <div class="row">
            <div class="twelve columns">
                <h1>Lista de artigos</h1>
            </div>
        </div>

        <div class="article-list">
        {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="article-list-group">
          <h2 class="article-list-grouper">{{ .Key }}</h2>
          {{ range .Pages }}
            <div class="row article-list-item">
                <div class="ten columns">
                    <a href="{{.Permalink}}">{{ .Title }}</a>
                </div>
                <div class="two columns">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{ if .Site.Params.strings.date_format }}
                    {{ .Date.Format .Site.Params.strings.date_format }}
                {{ else }}
                    {{ .Date.Format "02/01/2006" }}
                {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
        {{ end }}
        </div>
    </article>
</div>

{{ partial "footer.html" . }}

</body>
</html>
